<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>个人资料</title>
<link rel="stylesheet" type="text/css" href="../static/css/public/base.css">
<link rel="stylesheet" type="text/css" href="../static/css/common.css">
<link rel="stylesheet" type="text/css" href="../static/css/y2-style.css">
</head>

<body>
<div class="y2-header w"><img src="../static/img/header.png" class="w"></div>
<!--userInfo start-->
<div class="y2-userInfo y2-m6 y2-bd1 mt30">
	<dl class="y2-0324-dl1">
	  <dt>
      	<img src="../static/img/y2-img1.jpg" class="y2-img1">
        <span class="y2-mark1">创始人</span>
      </dt>
	  <dd><strong class="y2-0324-strong1">Ghost</strong></dd>
	  <dd class="y2-0324-dd1">
      	  <span>年龄：25~30</span>
      	  <span>现居：北京，朝阳</span>
      	  <span>籍贯：河北，廊坊</span>
      </dd>
	</dl>
    <a href="javascript:;" class="y2-0324-a1"><img src="../static/img/y2-img2.png"></a>
    <div class="cb"></div>	
</div>
<!--userInfo end-->
<!--container start-->
<div class="y2-container y2-m6">
	<div class="y2-layout-left">
    	<!--个人描述 start-->
        <div class="y2-0324-div1">
        	<h4>个人描述</h4>
            <a href="javascript:;"><img src="../static/img/y2-img3.png"></a>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;编辑个人描述</a>
        </div>
        <!--个人描述 end-->
        <!--个人经历start-->
        <div class="y2-0324-div1">
        	<h4>个人经历</h4>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
        	<div class="y2-0324-div4">
                <h4>工作经历</h4>
                <a href="javascript:;"><img src="../static/img/y2-img3.png"></a>
                <div class="cb"></div>
        	</div>
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;添加工作经历</a>
            <div class="y2-0324-div4 mt30">
                <h4>教育经历</h4>
                <a href="javascript:;"><img src="../static/img/y2-img3.png"></a>
                <div class="cb"></div>
        	</div>
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;添加教育经历</a>
        </div>
        <!--个人经历end-->
        <!--经验能力 start-->
        <div class="y2-0324-div1">
        	<h4>经验能力</h4>
            <a href="javascript:;"><img src="../static/img/y2-img3.png"></a>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;添加经验能力</a>
        </div>
        <!--经验能力 end-->
        <!--创业背景 start-->
        <div class="y2-0324-div1">
        	<h4>创业背景</h4>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;编辑创业背景</a>
        </div>
        <!--创业背景 end-->
        <!--擅长技能 start-->
        <div class="y2-0324-div1">
        	<h4>擅长技能</h4>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;展现我的技能</a>
        </div>
        <!--擅长技能 end-->
        <!--作品展示 start-->
        <div class="y2-0324-div1">
        	<h4>作品展示</h4>
            <a href="javascript:;"><img src="../static/img/y2-img3.png"></a>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;展示我的作品</a>
        </div>
        <!--作品展示 end-->
        <!--兴趣爱好 start-->
        <div class="y2-0324-div1">
        	<h4>兴趣爱好</h4>
            <div class="cb"></div>
        </div>
        <div class="y2-0324-div2 y2-bd1">
            <a href="javascript:;" class="y2-a1 y2-0324-div3 y2-bd2 y2-bg1 tc"><img src="../static/img/y2-img4.png">&nbsp;编辑我的兴趣</a>
        </div>
        <!--兴趣爱好 end-->
    </div>
    <div class="y2-layout-right"></div>
    <div class="cb"></div>
</div>
<!--container end-->
</body>
</html>
