/* container */
.y2-container{height:100px;padding:0 6.5812%;}
.y2-layout-left{width:74.3590%;background:red;height:300px;float:left;}
.y2-layout-right{width:23.0769%;background:green;height:300px;float:right;}

