/* container */
body{font-family:"微软雅黑";background:#FAFAFA;}
.oh{overflow:hidden;}
.y2-m6{margin-left:6.5812%;margin-right:6.5812%;}
.y2-mark1{width:73.4694%;min-width:72px;margin:0 auto;display:inline-block;background:#FF9934;color:#fff;font-size:0.875em;line-height:26px;text-align:center;border-radius:3px;max-width:57px;}
.y2-btn1{display:inline-block;text-decoration:none;width:68px;height:45px;background:#F24244;text-align:center;line-height:45px;border-radius:3px;color:#fff;font-size:16px;}
.y2-c2{color:#555555;}
.y2-p1{padding:4.5345% 1.8803%;}
.y2-w78{width:82.5%;}
.y2-btn2{display:inline-block;text-decoration:none;width:68px;height:45px;text-align:center;line-height:45px;border-radius:3px;color:#F24244;font-size:16px;}
.y2-lh36{line-height:36px;}
.y2-bd1{border:1px solid #F6F6F6;}
.y2-bd2{border:1px dashed #D7D7D7;}
.y2-bg1{background:#FCFCFC;}
.y2-bg2{background:#fff;}
.y2-bg3{background:#FEFEF2;}
.y2-a1:link,.y2-a1:visited{text-decoration:none;color:#FD9A34;}
.y2-a2:link,.y2-a2:visited{text-decoration:none;color:#F14345;}
.y2-c1{color:#F14345;}
.y2-img1{width:100%;min-width:98px;border-radius:100px;border:0.125em solid #F45C5B;margin-bottom:-17px;max-width:98px;}
.y2-container{height:100%;}
.y2-layout-left{width:74.3590%;float:left;}
.y2-layout-right{width:23.0769%;float:right;margin-top:76px;}
.y2-userInfo{padding-top:2%;padding-bottom:2%;}
.y2-0324-dl1{width:78.8974%;float:left;margin-left:2.3697%;}
.y2-0324-dl1 dt{width:18.6220%;float:left;margin-right:8.7523%;text-align:center;min-width:100px;}
.y2-0324-dl1 dd{width:44.6257%;float:left;margin-top:0.875%;}
.y2-0324-strong1{font-size:1.5625em;color:#333333;font-weight:bold;}
.y2-0324-dd1 span{font-size:0.875em;color:#666666;}
.y2-0324-a1{display:block;width:18.5214%;float:right;}
.y2-0324-a1 img{min-width:57px;max-width:100%;}
/*个人资料*/
.y2-0324-div1{line-height:76px;}
.y2-0324-div1 h4{float:left;font-size:1em;font-weight:bold;color:#323232;display:inline-block;line-height:76px;}
.y2-0324-div1 a,.y2-0324-div4 a{display:inline-block;float:right;}
.y2-0324-div4 h4{float:left;font-size:1em;color:#B8B8B8;}
.y2-0324-div4{margin-bottom:20px;}
.y2-0324-div2{padding:4%;background:#fff;}
.y2-0324-div3{line-height:99px;display:block;}
.y2-0324-div3 img{vertical-align:middle;}
/*个人资料编辑*/
.y2-mr1{margin-right:3.8462%;}
.y2-userInfo-div1{width:8.7179%;float:left;}
.y2-userInfo-div2{width:33.3333%;float:left;}
.y2-0325-ul2 li{overflow:hidden;margin-bottom:20px;}
.y2-0325-ul2 li label{width:48.6005%;float:left;}
/*input, textarea, .uneditable-input{width:auto;}*/
.y2-input1{border:1px solid #F1F3E8;line-height:38px;outline:none;border-radius:0;height:38px;box-shadow:none;padding-top:0;padding-bottom:0;margin-bottom:0;}
.y2-label-c1{color:#B0AFAA;}
.y2-user-label1{height:30px;display:block;}
.y2-input-icon1{background:#fff url(../img/y2-img8.png) no-repeat 95% 50%;}
.y2-span-c1{color:#FF0101;}
.y2-0325-span3{display:inline-block;line-height:40px;background:url(../img/y2-img9.png) no-repeat;padding-left:52px;font-size:14px;color:#C6C6BE;}
.y2-0325-span4{display:inline-block;line-height:40px;background:url(../img/y2-img10.png) no-repeat;padding-left:52px;font-size:14px;color:#C6C6BE;}
.y2-0325-textarea1{width:91.9540%;resize:none;height:130px;padding:2%;outline:none;margin-top:40px;}
.y2-0325-ul4{width:56.8966%;}
.y2-userInfo-div3{width:20.3419%;float:left;}
.y2-0325-ul4 li.label1{width:40.4255%;}
.y2-0325-ol1 li{width:15.4023%;float:left;margin-bottom:20px;color:#B0AFAA;}
.y2-0325-ol1 li label{cursor:pointer;}
.y2-0325-ul5{width:70%;margin:0 auto;}
.y2-0325-textarea2{padding:2%;width:95%;height:96px;resize:none;outline:none;color:#B0AFAA;}
.y2-0324-div5 a:link,y2-0324-div5 a:visited{display:inline-block;text-decoration:none;color:#78787A;line-height:45px;border-bottom:2px solid #F1F1E5;width:19.5059%;}
.y2-0324-div5 a.active{border-bottom:3px solid #F24242;}
.y2-0325-ul5-li1{height:360px;background:#fff;line-height:360px;color:#CDCDCD;cursor:pointer;}
.y2-0325-ul5-li1>strgon>img{width:100%;min-width:49px;max-width:100%;}
/*资料完善程度*/
.y2-0325-div1{height:40px;padding:20px 17px;}
.y2-0325-div1-2{height:6px;background:#EEEEEE;border-radius:3px;margin-top:15px;}
.y2-0325-div1-span1{display:block;background:#F24244;border-radius:3px;height:6px;}
/*个人资料导航*/
.y2-0325-ul1{padding:5% 0 5%;}
.y2-0325-ul1 a:link,.y2-0325-ul1 a:visited{text-decoration:none;color:#B2B2B2;display:block;line-height:50px;background:url(../img/y2-img5.png) no-repeat 15.9259% 50%;padding-left:30.7407%;font-size:14px;}
.y2-0325-ul1 a.active{background:#F35554 url(../img/y2-img6.png) no-repeat 15.9259% 50%;color:#fff;font-weight:bold;font-size:14px;}
.g-0325-div11{overflow:hidden;}
.g-0325-div11 .df_job_item{width:27.5555%;float:left;margin:0;margin-right:2%;}
[class*="span"]{margin-left:0;}
.container-fluid{padding-left:0;padding-right:0;}
.y2-0325-ul4 .y2-span-c1{width:auto;margin-right:5px;float:left;}